body {
    background-color: #111120;
    color: #667;
}

body > h3,
body > p {
    text-align: center;
}

.content {
    padding: 16px;
    background-color: #323250;
    width: 80%;
    min-width: 1024px;
    text-align: center;
    margin: 1% auto 2% auto;
    box-shadow:rgb(180,180,255) 0px 0px 14px;
    border-radius: 14px;
}

canvas {
    float:right;
    border: 1px solid #666;
}

h1, h2, h3, h4 {
    margin: 0px;
    padding: 0px;
    color: #889;
}

input {
    margin: 0px;
    padding: 5px;
    background-color: transparent;
    border-radius: 12px;
    padding-left: 12px;
    border: none;
    border: 1px solid #333;
    box-shadow: 0px 0px 3px rgba(255,255,255,0.5);
}

#options {
    padding-right: 12px;
    margin-right: 32px;
    max-width: 30%;
    width: 28%;
    margin-right 2%;
    text-align: left;
    display: block;
}

.optionsBlock {
    clear: both;
    padding: 19px 14px;
    width: 100%;
    display: inline-block;
}

.optionsBlock:first-of-type {
    padding: 0px 14px 19px 14px;
}

.optionsBlock h4 {
    margin-top: 58px;
}

.optionsBlock h4:first-of-type {
    margin-top: 0px;
}

.optionsBlock label {
    float: left;
    clear: both;
    margin-bottom: 6px;
}

.optionsBlock label,
.optionsBlock input {
    margin-top: 12px;
}

.optionsBlock .optionValue {
    float: right;
}

.optionsBlock span {
    float: left;
    clear: both;
}